html, body {
	background:url('/img/bg/fabric_of_squares_gray.png');
	padding:0;
	margin: 0;
}

footer {
	background:#222;
	color:#e1e1e1;
	padding:50px 0;
	.columns {
		font-size: emCalc(11px);
	}
}

.splash {

	position: relative;

	#logo {
		position: absolute;
		top: 20px;

	}
}

h1.logo {
	color:#FFF;
	font-size:emCalc(26px);
	background: $primary-color;
	padding:11px 20px 11px 11px;
	z-index: 100;
	width:280px;
	display: block;

}

.milkman {
	overflow: hidden;
	img {
		margin: 0 auto;
	}

}

.seperator.white { 
	background: #FFF; border-top: 1px solid #CCC;
	border-bottom:1px solid #ccc;
	padding-bottom: 20px;
}


.coke{ background:url("/img/coke.png") top left no-repeat; }
.coke.endquote{ width:66px; height:53px; background-position:-10px -10px; }
.coke.startquote{ width:66px; height:53px; background-position:-10px -73px; }
.coke.facebook{ width:55px; height:53px; background-position:-10px -136px; }
.coke.instagram{ width:55px; height:53px; background-position:-10px -199px; }
.coke.lastfm{ width:53px; height:53px; background-position:-10px -262px; }
.coke.github{ width:65px; height:53px; background-position:-10px -325px; }
.coke.twitter{ width:62px; height:53px; background-position:-10px -388px; }

