html, body {
	background:url('/img/bg/fabric_of_squares_gray.png');
	padding:0;
	margin: 0;
}

footer {
	background:#222;
	color:#e1e1e1;
	padding:50px 0;
	.columns {
		font-size: emCalc(11px);
	}
	a { 
		color:#DDD; font-weight: bold;
	}
	a:hover { 
		color: #47B7D9;
	}

}

.splash {

	position: relative;

	#logo {
		position: absolute;
		top: 20px;

	}
}

h1.logo {
	color:#FFF;
	font-size:emCalc(26px);
	background: $primary-color;
	padding:11px 20px 11px 11px;
	z-index: 100;
	width:280px;
	display: block;

}

.milkman {
	overflow: hidden;
	img {
		margin: 0 auto;
	}

}

.seperator.white { 
	background: #FFF; border-top: 1px solid #CCC;
	border-bottom:1px solid #ccc;
	padding-bottom: 20px;
	position: relative;
}


.coke{ background:url("/img/coke.png") top left no-repeat; 
	text-indent: -999px; 
	overflow: hidden;
}

.coke.thecampusbutler{ width:242px; height:64px; background-position:-10px -10px; }
.coke.twitter{ width:62px; height:53px; background-position:-10px -84px; }
.coke.github{ width:65px; height:53px; background-position:-82px -84px; }
.coke.lastfm{ width:53px; height:53px; background-position:-157px -84px; }
.coke.instagram{ width:55px; height:53px; background-position:-10px -147px; }
.coke.facebook{ width:55px; height:53px; background-position:-75px -147px; }
.coke.startquote{ width:66px; height:53px; background-position:-140px -147px; }
.coke.endquote{ width:66px; height:53px; background-position:-10px -210px; }
.coke.tugolearn{ width:242px; height:40px; background-position:-10px -273px; }
.coke.socialblendr{ width:242px; height:37px; background-position:-10px -323px; }
.coke.connectedgreek{ width:242px; height:36px; background-position:-10px -370px; }
.coke.finewines{ width:242px; height:36px; background-position:-10px -416px; }
.coke.willigant{ width:242px; height:29px; background-position:-10px -462px; }
.coke.gvlater{ width:242px; height:28px; background-position:-10px -501px; }
.coke.small-twitter{ width:30px; height:28px; background-position:-220px -84px; }
.coke.small-github{ width:33px; height:28px; background-position:-216px -147px; }
.coke.small-lastfm{ width:28px; height:28px; background-position:-86px -210px; }
.coke.small-instagram{ width:26px; height:28px; background-position:-124px -210px; }
.coke.small-facebook{ width:27px; height:28px; background-position:-160px -210px; }



