html, body {
	background:url('/img/bg/fabric_of_squares_gray.png');
	padding:0;
	margin: 0;
}

footer {
	background:#222;
	color:#e1e1e1;
	padding:50px 0;
	.columns {
		font-size: emCalc(11px);
	}
}

.splash {

	position: relative;

	#logo {
		position: absolute;
		top: 20px;

	}
}

h1.logo {
	color:#FFF;
	font-size:emCalc(26px);
	background: $primary-color;
	padding:11px 20px 11px 11px;
	z-index: 100;
	width:280px;
	display: block;

}

.milkman {
	overflow: hidden;
	img {
		margin: 0 auto;
	}

}

.seperator.white { 
	background: #FFF; border-top: 1px solid #CCC;
	border-bottom:1px solid #ccc;
	padding-bottom: 20px;
}


.coke{ background:url("/img/coke.png") top left no-repeat; 
	text-indent: -999px; 
	overflow: hidden;
}
.coke.thecampusbutler{ width:214px; height:64px; background-position:-10px -10px; }
.coke.twitter{ width:62px; height:53px; background-position:-234px -10px; }
.coke.github{ width:65px; height:53px; background-position:-10px -84px; }
.coke.lastfm{ width:53px; height:53px; background-position:-85px -84px; }
.coke.instagram{ width:55px; height:53px; background-position:-148px -84px; }
.coke.facebook{ width:55px; height:53px; background-position:-213px -84px; }
.coke.start_quote{ width:66px; height:53px; background-position:-278px -84px; }
.coke.endquote{ width:66px; height:53px; background-position:-10px -147px; }
.coke.tugolearn{ width:324px; height:40px; background-position:-10px -210px; }
.coke.socialblendr{ width:181px; height:37px; background-position:-86px -147px; }
.coke.connectedgreek{ width:242px; height:36px; background-position:-10px -260px; }
.coke.finewines{ width:181px; height:36px; background-position:-10px -306px; }
.coke.willigant{ width:341px; height:29px; background-position:-10px -352px; }
.coke.gvlater{ width:137px; height:28px; background-position:-201px -306px; }
.coke.small-twitter{ width:30px; height:28px; background-position:-306px -10px; }
.coke.small-github{ width:33px; height:28px; background-position:-277px -147px; }
.coke.small-lastfm{ width:28px; height:28px; background-position:-320px -147px; }
.coke.small-instagram{ width:26px; height:28px; background-position:-262px -260px; }
.coke.small-facebook{ width:27px; height:28px; background-position:-298px -260px; }


