.projects {

	.nav {
		.buffer {
			width:	100%;
			height: 28px;
		}

		ul {
			
			li {
				line-height: 0.8;
				text-align: center;

			}	
			a {
				font-size: emCalc(14px);
				text-transform: lowercase;
				font-weight:300;
				color:#999;
			}
			li.active a {
				color:#222;

			}
		}

	}

	

}