//Colors
$blues:#252160 #2A378E #1A74BA #25A8DF #51CFE8;
$reds:#BD1D2C #ED3F35 #F5911D #F9AE3F #F9C853;
$greens:#006737 #009244 #36B249 #8AC43E #AFDF62;
$white: #FFF;

@mixin color-block($color,$level) {
	width:50px;
	padding:0;
	margin:0;
	background:nth($color,$level);
	height:15px;
}

.skills {

	table {
		padding:0;
		margin:0 0 3px 0;
		border:none;


		tr {
			height: 10px;
			border-bottom:10px #FFF solid;
		}

		th,td {
			margin:1px 0px;
		}

		th {
			color:#999;
			text-transform: capitalize;
			width:100px;
			max-width: 100px;
			vertical-align: center;
			font-size: 10px;
			border: none;
			text-align: left;

		}

	}

	td.crap {
		@include color-block($white,1);
	}

	//Blue
	.blue td.dece {
		@include color-block($blues,1);

	}
	.blue td.solid {
		@include color-block($blues,2);
	}

	.blue td.good {
		@include color-block($blues,3);
	}

	.blue td.better {
		@include color-block($blues,4);
	}

	.blue td.awesome {
		@include color-block($blues,5);
	}

    //Red
    .red td.dece {
    	@include color-block($reds,1);
    }

    .red td.solid {
    	@include color-block($reds,2);
    }

    .red td.good {
    	@include color-block($reds,3);
    }

    .red td.better {
    	@include color-block($reds,4);
    }

    .red td.awesome {
    	@include color-block($reds,5)
    }

    //Green
    .green td.dece {
    	@include color-block($greens,1);
    }

    .green td.solid {
    	@include color-block($greens,2);
    }

    .green td.good {
    	@include color-block($greens,3);
    }

    .green td.better {
    	@include color-block($greens,4);
    }

    .green td.awesome {
    	@include color-block($greens,5);
    }

}

