.twitter-feed {

	border:1px solid #e1e1e1;
	@include border-radius(5px);

	.tweet {
		@include background(linear-gradient(top, #fbfbfb 0%, #f8f8f8 60%));
		@include clearfix;

		font-size:emCalc(13px);

		border-bottom:1px solid #e1e1e1;
		border-top:1px solid #FFF;
		width:100%;

		color:#222;
		padding:10px; 

		img {
			float:left;
			@include border-radius(10px);
		}

		.content { 
			margin-left:58px;

			.name {
				font-weight: bold;
			}

			.time {
				color:darken(#D9D9D9,10%);
				float:right;
				text-align: right;
				font-size: emCalc(13px);

			}

			.body {
				clear:right;
				.at-name, .hashtag {
					color:#83949F;
				}
			}

		}

	} 
}