<div class="white seperator">
    <div class="row live-feed">
        <div class="large-4   small-12 columns">
            <h2>
                Hilarious
            </h2>
            <a class="subhead" href="http://www.twitter.com/willwashburn">
                twitter.com/willwashburn
            </a>
            <div class="twitter-feed">
                {{#tweets }} {{> tweet}} {{/tweets }}
            </div>
        </div>
        <div class="large-4 small-12 columns">
            <h2>
                Stunning
            </h2>
            <a class="subhead" href="http://www.instagram.com/willwashburn">
                instagram.com/willwashburn
            </a>
            <div class="instagram-feed">
            </div>
        </div>
        <div class="large-4 small-12 columns">
            <h2>
                Thoughtful
            </h2>
            <a class="subhead" href="/blog">
                blog.willwashburn.com
            </a>
            <div class="blog-feed">
            </div>
        </div>
    </div>
</div>