<div class="row nerdrap">
    <div class="large-3 small-12 push-9 columns">
        <img src="/img/upside-down.png" />
    </div>
    <div class="large-9 small-12 pull-3 columns">
        <blockquote>
            <div class="coke startquote">
                "
            </div>
            Seriously, who invited that guy?! His dance moves are AMAZING! He must work out too!
            <div class="coke endquote">
                "
            </div>
        </blockquote>
        <div class="author"> -how I imagine the rest of that conversation went </div>
    </div>
    
    
</div>