<div class="white seperator">
    <div class="row">
        <a id="skills"></a>
        <div class="small-12 columns skills">
            <h2>
                skills
            </h2>
            {{#columns}}
            <div class="large-4 small-12 columns">
                <div class="row">
                    <table class="{{color}}">
                        {{#skills}} {{> skill_row}} {{/skills}}
                    </table>
                </div>
            </div>
            {{/columns}}
        </div>
    </div>
</div>