<div class="tldr">
    <img src="/img/head-pop.png" class="head-pop hide-for-small hide-for-medium"
    />
    <div class="row">
        <div class="small-12 large-6 columns">

                    <img src="/img/head-pop.png" class="show-for-small" />
            <h2>
                wait...who?
            </h2>
            <p>
                I’m an entrepreneur who USED TO live in New York City. Then SANDY WAS
                ALL Oh hell naw and long story short I’m homeless. But a pretty fly homeless
                guy at that.
            </p>
            <div class="social row">
                <div class="small-2 columns first">
                    <a href="http://twitter.com/willwashburn" class="coke twitter"></a>
                </div>
                <div class="small-2 columns">
                    <a href="http://www.facebook.com/willwashburn" class="coke facebook"></a>
                </div>
                <div class="small-2 columns">
                    <a href="http://www.github.com/willwashburn" class="coke github"></a>
                </div>
                <div class="small-2 columns">
                    <a href="http://last.fm/user/willwashburn" class="coke lastfm"></a>
                </div>
                <div class="small-4 columns">
                </div>
            </div>
        </div>
        <div class="small-12 large-6 columns quote">
            <blockquote>
                <div class="coke startquote">
                    "
                </div>
                Who is that guy dancing in the back?
                <div class="coke endquote">
                    "
                </div>
            </blockquote>
            <div class="author"> -somebody at a party I went to this one time </div>
        </div>
    </div>
</div>