<div class="tldr">
    <img src="/img/head-pop.png" class="head-pop hide-for-small" />
    <div class="row">
        <div class="small-12 large-6 columns">
            <h2>
                wait...who?
            </h2>
            <p>
                I’m an entrepreneur who USED TO live in New York City. Then SANDY WAS
                ALL Oh hell naw and long story short I’m homeless. But a pretty fly homeless
                guy at that.
            </p>
            <img src="/img/head-pop.png" class="show-for-small" />
            <div class="social row">
                <div class="small-3 columns">
                    <a href="http://twitter.com/willwashburn" class="coke twitter"></a>
                </div>
                <div class="small-3 columns">
                    <a href="http://www.facebook.com/willwashburn" class="coke facebook"></a>
                </div>
                <div class="small-3 columns">
                    <a href="http://www.github.com/willwashburn" class="coke github"></a>
                </div>
                <div class="small-3 columns">
                    <a href="http://last.fm/user/willwashburn" class="coke lastfm"></a>
                </div>
            </div>
        </div>
        <div class="small-12 large-6 columns quote">
            <div class="quotation">
                "
            </div>
            <blockquote>
                If the keyboard don't quit, you gots to commit
            </blockquote>
            <div class="quotation-end">
                "
            </div>
        </div>
    </div>
</div>