

<div class="tweet">
    <img src="https://twimg0-a.akamaihd.net/profile_images/3262665826/ac1aa4b17a32a805e2e96caa009e9ce6_normal.jpeg"
    />
    <div class="content">
        <div class="time">
            13 hours
        </div>
        <div class="name">
            willwashburn
        </div>
        <div class="body">
            <span class='twitter-name'>
                @danshipper
            </span>
            cool, much better
        </div>
    </div>
    <div class="clear">
    </div>
</div>
