.coke{ background:url("coke.png") top left no-repeat; }
.thecampusbutler{ width:214px; height:64px; background-position:-10px -10px; }
.twitter{ width:62px; height:53px; background-position:-234px -10px; }
.github{ width:65px; height:53px; background-position:-10px -84px; }
.lastfm{ width:53px; height:53px; background-position:-85px -84px; }
.instagram{ width:55px; height:53px; background-position:-148px -84px; }
.facebook{ width:55px; height:53px; background-position:-213px -84px; }
.start_quote{ width:66px; height:53px; background-position:-278px -84px; }
.endquote{ width:66px; height:53px; background-position:-10px -147px; }
.tugolearn{ width:324px; height:40px; background-position:-10px -210px; }
.draft3_r5_c1{ width:181px; height:37px; background-position:-86px -147px; }
.connectedgreek{ width:242px; height:36px; background-position:-10px -260px; }
.finewines{ width:181px; height:36px; background-position:-10px -306px; }
.willigant{ width:341px; height:29px; background-position:-10px -352px; }
.gvlater{ width:137px; height:28px; background-position:-201px -306px; }
.small-twitter{ width:30px; height:28px; background-position:-306px -10px; }
.small-github{ width:33px; height:28px; background-position:-277px -147px; }
.small-lastfm{ width:28px; height:28px; background-position:-320px -147px; }
.small-instagram{ width:26px; height:28px; background-position:-262px -260px; }
.small-facebook{ width:27px; height:28px; background-position:-298px -260px; }
