.coke{ background:url("coke.png") top left no-repeat; }
.twitter{ width:62px; height:53px; background-position:-10px -10px; }
.github{ width:65px; height:53px; background-position:-10px -73px; }
.lastfm{ width:53px; height:53px; background-position:-10px -136px; }
.instagram{ width:55px; height:53px; background-position:-10px -199px; }
.facebook{ width:55px; height:53px; background-position:-10px -262px; }
.startquote{ width:66px; height:53px; background-position:-10px -325px; }
.endquote{ width:66px; height:53px; background-position:-10px -388px; }
.tab-lb-l{ width:29px; height:29px; background-position:-10px -451px; }
.tab-lb-r{ width:29px; height:29px; background-position:-10px -490px; }
.tab-g-r{ width:29px; height:29px; background-position:-10px -529px; }
.tab-g-l{ width:29px; height:29px; background-position:-10px -568px; }
.tab-r-l{ width:29px; height:29px; background-position:-10px -607px; }
.tab-r-r{ width:29px; height:29px; background-position:-10px -646px; }
.tab-y-r{ width:29px; height:29px; background-position:-10px -685px; }
.tab-ng-r{ width:29px; height:29px; background-position:-10px -724px; }
.tab-b-r{ width:29px; height:29px; background-position:-10px -763px; }
.tab-sg-r{ width:29px; height:29px; background-position:-10px -802px; }
.tab-cb-r{ width:29px; height:29px; background-position:-10px -841px; }
.tab-blk-r{ width:29px; height:29px; background-position:-10px -880px; }
.tab-b-l{ width:29px; height:29px; background-position:-10px -919px; }
.tab-cb-l{ width:29px; height:29px; background-position:-10px -958px; }
.tab-blk-l{ width:29px; height:29px; background-position:-10px -997px; }
.tab-sg-l{ width:29px; height:29px; background-position:-10px -1036px; }
.tab-ng-l{ width:29px; height:29px; background-position:-10px -1075px; }
.tab-y-l{ width:29px; height:29px; background-position:-10px -1114px; }
.small-instagram{ width:26px; height:28px; background-position:-49px -451px; }
.small-lastfm{ width:28px; height:28px; background-position:-10px -1153px; }
.small-github{ width:33px; height:28px; background-position:-10px -1191px; }
.small-twitter{ width:30px; height:28px; background-position:-10px -1229px; }
.small-facebook{ width:27px; height:28px; background-position:-49px -490px; }
