<h1 class="logo">
    Will Washburn
</h1>
<div class="row">
    <div class="milkman small-12 columns">
        <img src="/img/milkman.png" />
    </div>
</div>
<div class="white seperator">
    <div class="row">
        <div class="small-12 columns skills">
            <h2>
                skills
            </h2>
            <div class="row">
                {{#columns}}
                <div class="small-4 columns">
                    <div class="row">
                        <table class="{{color}}">
                            {{#skills}} {{> skill_row}} {{/skills}}
                        </table>
                    </div>
                </div>
                {{/columns}}
            </div>
        </div>
    </div>
</div>