<div class="row splash">
<img src="/img/logo.png" id="logo" />
</div>
<div class="row">
    <div class="milkman small-12 columns">
        <img src="/img/milkman.png" />
    </div>
</div>
{{> projects}}
{{> tldr}}
{{> skills}}
{{> nerdrap}}
{{> live_feed}}

<footer>
    <div class="row">
        <div class="small-4 columns">
            © Will Washburn 2013<br />
            If you see me in person, ask me for a disco ball.
        </div>
        <div class="small-4 offset-4 columns">
            The source for this site can be found on
            <a href="https://github.com/willwashburn/willwashburn.com">github</a> :)
        </div>
    </div>
</footer>