<h1 class="logo">
    Will Washburn
</h1>
<div class="row">
    <div class="milkman small-12 columns">
        <img src="/img/milkman.png" />
    </div>
</div>

{{> live_feed}}



<footer>
    <div class="row">
        <div class="small-4 columns">
            © Will Washburn 2013
        </div>
        <div class="small-4 offset-4 columns">
            The source for this site can be found on
            <a href="https://github.com/willwashburn/willwashburn.com">github</a>
        </div>
    </div>
</footer>